@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

.content {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
          flex-direction: row;


  > .page {
    width: 25%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
            flex-direction: row;

    @include respond-to(portrait) {
      display: block;
      height: 85%;
      overflow-y: scroll;
    }
  }

  > .page-1 {
    > .left {
      user-select: none;
      padding: 36px 4%;
      width: 50%;
      @include respond-to(portrait) {
        padding: 24px 16px;
        width: 100%;
      }
      > .title {
        height: 120px;
        pointer-events: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        margin: auto;
        cursor: pointer;
        margin: auto 0;

        -webkit-justify-content: flex-start; /* Safari 6.1+ */
                justify-content: flex-start;

        @include respond-to(portrait) {
          height: 80px;
        }
        > span {
          font-family: $font-bold;
          color: #606060;
          font-weight: 700;
          font-size: $font-xxx-large;
          @include respond-to(portrait) {
            font-size: $font-xx-large;
          }
          letter-spacing: 4px;
          margin: auto 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        }

        > .logo {
          margin: auto 0;
          width: 120px;
          height: auto;
          @include respond-to(portrait) {
            width: 60px;
          }

          transform-origin: 50% 50%;
          transform: rotate(0deg);
          animation-name: spin;
          animation-duration: 12s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          animation-direction: alternate;
        }
      }

      > .sitename {
        padding: 16px 0 8px 0;
        color: #606060;
        font-family: $font-bold;
        font-size: $font-xx-large;
        line-height: 1.15;
        @include respond-to(portrait) {
          font-size: $font-x-large;
        }
      }

      > .description {
        padding: 8px 0 8px 0;
        color: #606060;
        font-family: $font-bold;
        font-size: $font-large;
        line-height: 1.15;
        @include respond-to(portrait) {
          font-size: $font-medium;
        }
      }
    }

    > .right {
      width: 50%;
      position: relative;
      @include respond-to(portrait) {
        width: 100%;
      }

      > .container {
        position: absolute;
        top: 48px;
        right: 8%;
        width: 90%;
        height: 50%;
        overflow-y: scroll;
        padding: 0 8px;
        @include respond-to(portrait) {
          position: relative;
          width: 100%;
          height: auto;
          top: 0;
          right: 0;
          padding: 0 12px;
        }
      }
    }
  }
  > .page-2 {
    a {
      color: #963200;
    }
    position: relative;
    > .button-library {
      position: absolute;
      left: 64%;
      bottom: 7.5%;
      width: 10%;
      height: 20%;
      cursor: pointer;
      @include respond-to(portrait) {
        display: none;
      }
    }
    > .left {
      width: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-direction: column;
              flex-direction: column;
      @include respond-to(portrait) {
        width: 100%;
        &.hide {
          display: block;
          > .bottom {
            display: none;
          }
        }
      }

      > .top {
        color: #606060;
        font-family: $font-bold;
        font-size: $font-xx-large;
        line-height: 1.15;
        padding: 36px 4% 8px 10%;
        width: 100%;
        position: relative;
        @include respond-to(portrait) {
          padding: 24px 16px 8px 16px;
          width: 100%;
          font-size: $font-x-large;
        }
        &.research-back {
          font-size: $font-medium;
          @include respond-to(portrait) {
            font-size: $font-medium;
          }
        }
      }
      > .bottom {
        padding: 8px 4% 28% 10%;
        width: 100%;
        height: 80%;
        position: relative;
        @include respond-to(portrait) {
          padding: 8px 12px;
          width: 100%;
          height: auto;
        }
        > .container {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          padding: 0 8px;
          @include respond-to(portrait) {
            height: auto;
          }

        }
      }
    }
    > .right {
      position: absolute;
      top: 4%;
      left: 4%;
      width: 92%;
      height: 92%;
      border: 4px solid #765A4C;
      background-color: #ffeed2;
      background-position: center bottom;
      background-image: url(./bookshelf.png);
      background-repeat: no-repeat;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-direction: column;
              flex-direction: column;

      &.hide {
        opacity: 0;
        pointer-events: none;
      }
      opacity: 1;
      -webkit-transition: opacity 0.75s;
         -moz-transition: opacity 0.75s;
              transition: opacity 0.75s;

      -webkit-transition-delay: 0.5s; /* Safari */
              transition-delay: 0.5s;

      @include respond-to(portrait) {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        border: none;
        background: none;
        &.hide {
          pointer-events: all;
          opacity: 1;
          display: block;
          > .middle {
            display: none;
          }
        }
        > .bottom {
          display: none;
        }
      }
      > .top {
        text-align: center;
        color: #606060;
        font-family: $font-bold;
        font-size: $font-x-large;
        line-height: 1.15;
        padding: 24px 4% 16px 4%;
        width: 100%;
        position: relative;
        @include respond-to(portrait) {
          text-align: left;
          padding: 24px 16px 8px 16px;
          width: 100%;
          font-size: $font-x-large;
        }
      }
      > .middle {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        padding: 8px 4% 24px 4%;
        width: 100%;
        position: relative;
        overflow-y: scroll;
        @include respond-to(portrait) {
          padding: 8px 12px;
          width: 100%;
          height: auto;
        }
        > .container {
          width: 100%;
          overflow-y: scroll;
          padding: 0 8px;

          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-direction: row;
                  flex-direction: row;

          -webkit-flex-wrap: wrap; /* Safari 6.1+ */
                  flex-wrap: wrap;
          -webkit-justify-content: flex-start; /* Safari 6.1+ */
                  justify-content: flex-start;

          @include respond-to(portrait) {
            height: auto;
            display: block;
            text-align: left;
            overflow: inherit;
            list-style-position: outside;
            margin-left: 8px;
          }
          &.text {
            font-family: $font-normal;
            padding: 8px;
            margin: 0;
            @include respond-to(portrait) {
              padding: 0;
            }
          }

          > .post {
            width: calc(33.3% - 16px);
            margin: 8px;

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            border: 1px solid #606060;
            border-radius: 1px;

            @include respond-to(portrait) {
              width: auto;
              height: auto;
              margin: 0 4px;
              border: none;
              display: list-item;
            }

            > div {
              font-family: $font-bold;
              padding: 8px;
              margin: auto;
              line-height: 1.75;
              text-align: center;
              cursor: pointer;
              @include respond-to(portrait) {
                text-align: left;
                padding: 4px 8px 4px 0;
                color: #963200;
                text-decoration: underline;
              }
            }
          }
        }
      }

      > .bottom {
        padding-top: 8px;
        text-align: right;
        > .button {
          display: inline-block;
          font-family: $font-bold;
          font-weight: 700;
          color: #000000;
          padding: 8px 12px;
          cursor: pointer;
        }
      }
    }
  }

  > .page-3 {
    overflow-y: hidden;
    height: 100%;
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;

    -webkit-justify-content: flex-end; /* Safari 6.1+ */
            justify-content: flex-end;

    > .left {
      user-select: none;
      width: 42.5%;
      padding-left: 10%;

      @include respond-to(portrait) {
        width: 0;
      }

      > .wrapper {
        position: absolute;

        > .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          pointer-events: none;
        }

        > .panel {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }

        > .list {
          width: 68%;
          position: absolute;
          top: 61%;
          padding-left: 5%;

          > .item {
            user-select: none;
            cursor: pointer;
            line-height: 1.55;
            font-family: $font-bold;
            color: #000000;
            padding-left: 4%;
            overflow: hidden;

            &:hover, &.active {
              background-color: #4a271c;
              color: #ffffff;
            }
          }
        }
      }
    }

    > .right {
      overflow: hidden;
      position: relative;
      width: 50%;
      height: 100%;
      @include respond-to(portrait) {
        margin-left: 24px;
        width: calc(100% - 48px);
      }

      > .wrapper {
        position: absolute;
        width: 100%;
        height: 77.5%;
        @include respond-to(portrait) {
          height: 90%;
        }
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-direction: column;
                flex-direction: column;
        > .top {
          opacity: 1;
          height: auto;
          flex-shrink: 0;
          -webkit-flex-shrink: 0;
        }
        > .middle {
          overflow-y: scroll;
          -webkit-flex-grow: 1;
                  flex-grow: 1;

          background-color: rgba(28, 28, 28, 1);
          padding: 0 3%;
          display: block;
          > .container {
            width: 100%;
            display: block;
            height: auto;
            background-color: #fefefe;
            padding: 8px;

            > .title {
              text-align: center;
              font-family: $font-bold;
              font-size: $font-x-large;
              line-height: 1.15;
              padding: 8px;
            }
            > .text {
              font-family: $font-normal;
            }
          }
        }
        > .bottom {
          opacity: 1;
          height: auto;
          flex-shrink: 0;
          -webkit-flex-shrink: 0;
        }
        > .leg {
          flex-shrink: 0;
          -webkit-flex-shrink: 0;
          height: 15%;
          @include respond-to(portrait) {
            height: 10%;
          }
        }
      }
    }
  }
}
