@import "./../../scss/variables.scss";

.layout {
  width: 100%;
  height: 100%;

  > .texture {
    pointer-events: none;
    position: fixed;
    z-index: 9999;
    top: 24px;
    left: 24px;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    background-image: url(./texture.png);
    background-repeat: repeat;
    opacity: 1;
  }
}
