$font-normal: 'Open Sans', sans-serif;
$font-bold: 'Cabin Sketch', sans-serif;

$font-xxx-large: 7.5em;
$font-xx-large: 3.5em;
$font-x-large: 1.85em;
$font-large: 1.5em;
$font-medium-large: 1.25em;
$font-medium: 1em;
$font-medium-small: 0.8em;
$font-small: 0.7em;
$font-x-small: 0.5em;

@keyframes spin {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(-5deg); }
  80% { transform: rotate(725deg); }
	90% { transform: rotate(720deg); }
  100% { transform: rotate(720deg); }
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}
