$font-normal: 'Open Sans', sans-serif;
// $font-bold: 'Cabin Sketch', sans-serif;
$font-bold: 'Lithos Pro', sans-serif;
$font-black: 'Lithos', sans-serif;


$font-xx-large: 2rem;
$font-x-large: 1.75rem;
$font-large: 1.5rem;
$font-medium-large: 1.25rem;
$font-medium: 1rem;
$font-medium-small: 0.8rem;
$font-small: 0.7rem;
$font-x-small: 0.5rem;

@keyframes spin {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(-5deg); }
  80% { transform: rotate(725deg); }
	90% { transform: rotate(720deg); }
  100% { transform: rotate(720deg); }
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}
